Cython
easydict
einops
h5py
gdown
jupyter
kiui
matplotlib
multimethod
ninja
numpy==1.26.4
opencv-python
packaging
pandas
pickleshare
pillow
plyfile
protobuf
pyvista
pyyaml
scipy
scikit-build
scikit_image
scikit-learn
shortuuid
termcolor
tensorboard==2.12.0
tensorboardX
thop
transforms3d
timm
tqdm
vtk
wandb
